*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container{
  /*turn on grid*/
  display: grid;
  /*set grid template starter*/
  grid-template-columns: none;
}

/*styling grid item*/
.div-items {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}