*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:monospace;
  font-size: 40px;
}

body{
  position: relative;
  background-color: #e9c46a;
}

.container{
  padding: 2px;
  border: solid 1px;
  border-radius: 5px;
  box-shadow: 5px 5px #264653 ;
  background-color: antiquewhite;
  /*turn on grid*/
  display: grid;
  /*set grid template starter*/

  
  /*center the div*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,60%);
  /* limiting the size of the container */
  width: 500px;
  height: 500px;
}
.grid-items{
  transition: background-color 0.15s;
  background-color:transparent;
  
}
/*styling grid item*/
